body {
  padding-top: 5rem;
}
.container{
  padding-top: 25px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.orange{
  background-color: #f1ac44;
}
.orange-border{
  border-bottom: #f1ac44 solid 2px;
  border-radius: 0;
}
.orange-text{
  color: #f1ac44;
}

