<div class="card-block">
  <h3>Timeline</h3>
  <ul class="timeline">
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Afstuderen hogere studies</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i> 2017</small>
          </p>
        </div>
        <div class="timeline-body">
          <p>Toegepaste Informatica keuze programmeren met afstudeerrichting e-business, HoGent Campus Aalst.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge warning"><i class="fa fa-briefcase"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Stage</h4>
          <small class="text-muted"><i class="fa fa-calendar"></i> Februari 2017 - Maart 2017</small><br>
          <small class="text-muted"><i class="fa fa-map-marker"></i> Securex</small>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Future proof maken van ECM (Enterprise Content Management Systeem).
            Analyse, development en testing in een Agile werkomgeving.</p>
          <p>Gebruikte technologiën: Angular 2 en Spring Boot</p>
          <figure class="figure">
            <img src="http://users.hogent.be/ewout/mydoc.PNG" class="figure-img img-fluid rounded" alt="Screenshot website">
            <figcaption class="figure-caption text-right">Web applicatie Securex</figcaption>
          </figure>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-drupal"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Project School</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i> November 2017</small>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Website in Drupal 8 voor Neverland Theming.</p>
          <figure class="figure">
            <img src="http://users.hogent.be/ewout/neverland.PNG" class="figure-img img-fluid rounded" alt="Screenshot website">
            <figcaption class="figure-caption text-right"><i class="fa fa-drupal"></i>Drupal 8 Website Neverland Theming </figcaption>
          </figure>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="fa fa-link"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Website 't Hof Schuurke</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i> 2015</small>
          <hr>
        </div>
        <div class="timeline-body">
          <a href="http://www.thofschuurke.be/" target="_blank">
          <figure class="figure">
            <img src="http://users.hogent.be/ewout/thofs.PNG" class="figure-img img-fluid rounded" alt="Screenshot website">
            <figcaption class="figure-caption text-right">Website met HTML/CSS/Javascript <i class="fa fa-external-link"></i></figcaption>
          </figure>
          </a>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="fa fa-link"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Website De Kegel Johan</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i> 2014</small>
          <hr>
        </div>
        <div class="timeline-body">
          <a href="http://dekegeljohan.be/" target="_blank">
            <figure class="figure">
              <img src="http://users.hogent.be/ewout/dekegeljohan.PNG" class="figure-img img-fluid rounded" alt="Screenshot website">
              <figcaption class="figure-caption text-right">Website met HTML/CSS/Javascript <i class="fa fa-external-link"></i></figcaption>
            </figure>
          </a>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge warning"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Start hogere studies</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i> 2013</small>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Toegepaste Informatica keuze programmeren met afstudeerrichting e-business, HoGent Campus Aalst.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Afgestudeerd Middelbare school</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i> 2013</small>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Wetenschappen Moderne talen in Sint-Jozef School Mere</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><img src="http://users.hogent.be/ewout/kazou.png" alt="kazou" style="width:32px">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Kazou vzw</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i> 2012</small>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Animator cursus Kazou land van Aalst.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
