<div class="container bottom">
  <h1>Contact</h1>
  <div class="contact">
    <h4>Stuur een email</h4>
    <form class="form">
      <div class="form-group">
        <label for="naam">Naam:</label>
        <input type="text" class="form-control" id="naam" placeholder="" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="email@provider.com" email required>
      </div>
      <div class="form-group">
        <label for="onderwerp">Onderwerp:</label>
        <input type="text" class="form-control" id="onderwerp" placeholder="" required>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Bericht:</label>
        <textarea class="form-control" id="exampleTextarea" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-secondary orange-button">Submit</button>
    </form>
  </div>
</div>
