.bottom {
  padding-bottom: 70px;
}

.contact {
  width: 400px;
  margin: 0 auto;
}

.form {
  width: 100%;
}
.orange-button{
  background-color: #f1ac44;
}
.orange-button:hover{
  background-color: orangered;
}
.form-control:focus{
  border-color: #f19541 !important;
}
