<div class="container">
  <h1>About me</h1>
  <div class="marketing">
    <div class="row">
      <div class="col-lg-4">
        <p style="text-align:left; padding-top:25px;">
          Mijn naam is Ewout Ghysbrecht, ik ben 21 jaar en woon in Erpe-Mere.
          Ik studeer Toegepaste Informatica, in mijn vrije tijd speel ik gitaar, piano en hou ik me bezig met informatica.
        </p>
        <h6>Kernwoorden</h6>
        <p>
          Rustig, stressbestendig en behulpzaam.
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Gegevens</h4>
        <table class="table table-striped">
          <tbody>
          <tr>
            <th scope="row"><i class="fa fa-map-marker orange-icon"></i></th>
            <td>9420 Erpe-Mere</td>
          </tr>
          <tr>
            <th scope="row"><i class="fa fa-envelope orange-icon"></i></th>
            <td>ewout@student.hogent.be</td>
          </tr>
          <tr>
            <th scope="row"><i class="fa fa-phone orange-icon"></i></th>
            <td>053 83 85 37</td>
          </tr>
          <tr>
            <th scope="row"><i class="fa fa-calendar orange-icon"></i></th>
            <td>21/07/1995 (21 jaar)</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle"
             src="http://users.hogent.be/ewout/Ewout.png"
             alt="Mezelf" width="140" height="140">
        <h2>Ewout Ghysbrecht</h2>
        <p><a class="btn btn-secondary orange-button" role="button" href="http://users.hogent.be/ewout/Curriculum%20vitae_Ewout_Ghysbrecht.pdf" download>Download mijn CV.</a></p>
      </div>
    </div>
  </div>
  <app-timeline></app-timeline>
</div>
