<div class="container">
<h3>Skills</h3>
  <div id="skills">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th>Skill</th>
        <th>Knowledge</th>
      </tr>
      </thead>
      <tbody>
      <tr class="thead-default">
        <th>Talen</th>
        <th></th>
      </tr>
      <tr>
        <th>Frans</th>
        <td>
          <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="0" aria-valuemin="40" aria-valuemax="100">Voldoende</div>
        </div>
        </td>
      </tr>
      <tr>
        <th>Duits</th>
        <td>
          <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 35%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">Basis</div>
        </div>
        </td>
      </tr>
      <tr>
        <th>Engels</th>
        <td>
          <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Goed</div>
        </div>
        </td>
      </tr>
      <tr>
        <th>Nederlands</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Moedertaal</div>
          </div>
        </td>
      </tr>
      <tr class="thead-default">
        <th>Computertalen</th>
        <th></th>
      </tr>
      <tr>
        <th>Java</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Goed</div>
          </div>
        </td>
      </tr>
      <tr>
      </tbody>
    </table>
  </div>
</div>
