<div class="container">
<h3>Skills</h3>
  <div id="skills">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th>Skill</th>
        <th>Knowledge</th>
      </tr>
      </thead>
      <tbody>
      <tr class="thead-default">
        <th>Talen</th>
        <th></th>
      </tr>
      <tr>
        <th>Nederlands</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Moedertaal</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Engels</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Vloeiend</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Frans</th>
        <td>
          <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="40" aria-valuemax="100">Voldoende</div>
        </div>
        </td>
      </tr>
      <tr>
        <th>Duits</th>
        <td>
          <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 35%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">Basis</div>
        </div>
        </td>
      </tr>
      <tr class="thead-default">
        <th>Computerkennis</th>
        <th></th>
      </tr>
      <tr>
        <th>Internet, Email</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Zeer goed</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Excel, Word, PowerPoint</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Zeer goed</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Windows</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Goed</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Netbeans, IntelliJ</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Goed</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>MySQL, Visual Paradigm, Visual Studio</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Voldoende</div>
          </div>
        </td>
      </tr>
      <tr>
        <th  style="width:50%;">Java, Typescript, Angular 2, Spring, HTML, CSS, SQL,
          XML, UML</th>
        <td style="width:50%;">
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Goed</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>PHP, Jquery, ASP.NET, Linux</th>
        <td>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Basis</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
